.checkBoxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 9px;
  border: 2px solid #ff295e;
  cursor: pointer;
}

.activeCheckBox{
    background-color: #ff295e;
}

.checkBox {
  color: #3c4043;
}
