.addTodoContainer {
    width: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom:  1px solid #4c515938;
}

.title {
    font-size: 25px;
    display: flex;
    margin-bottom: 20px;
    padding-left: 20px;
}

.addTodoInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.addButton {
    content: "";
    position: absolute;
    top: 13px;
    right: 20px;
    transition: all .3s linear;
}

.addButton:hover {
    color: #ff295e;
    cursor: pointer;
}

.input {
    padding: 10px 60px 10px 20px;
    font-size: 20px;
    font-family: inherit;
    width: 700px;
    height: 35px;
    border-radius: 10px;
    border: none;
    /* box-shadow: none; */
    background-color: #4c515938;
    color: #fff;
}

.input:focus {
    outline: none;
}

