.todoItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0 0 20px 0;
    padding: 20px;
    border-radius: 20px;
    background-color: #4c515938;
    /* box-shadow: 1px 1px 5px #6f778238, -1px -1px 5px #6f778238; */
}

.content {
    font-size: 20px;
}

.contentActive {
    text-decoration: line-through;
}

.todoItem__content {
    display: flex;
    gap: 10px;
    align-items: center;
}