.wrapper {
    width: 50%;
    min-height: 100vh;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.appTitle {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

.todosGroup {
    display: flex;
    flex-direction: column;
}

.todosGroup__title {
    padding-left: 20px;
    font-size: 25px;
    margin-bottom: 20px;
}