@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

body {
  padding: 40px;
  background-color: #272732;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pangolin", cursive;
  letter-spacing: 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
